* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
} 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all
{ 
    width: 100%;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header-main
{
    display: flex;
    padding-top: 23px;
    column-gap: 90px;
}
.header{
    
    height: 100px;
    background-color: rgba(0, 0, 0, 0.600);
}
.header-banner{
    background-image: url("../images/imgbanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 950px;
}
.header-menu {
    padding-top: 17px;   
}

#toggle-header-menu{
    display: none;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    column-gap: 52px;
}
.header-icon {
    padding-top: 20px;
    list-style: none;
    position: relative;
    left: 42px;
}
.header-icon button {
    background: none;
    border: none;
    margin-top: -12px;
}
.header-icon span {
    color: #fff;
}
.header-menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
}
.header-menu ul li a:hover{
    color: rgba(255, 255, 255, 0.336);
    
}
#icon:hover{
    color: #cccccc;
}
/* search */
input.input-search {
    border-radius: 30px;
    padding: 8px;
    margin-top: -5px;
    background: none;
    border: 1px solid white;
    margin-left: -36px;
    width: 145px;
    display: none;
}
ul.list-icon {
    display: flex;
    column-gap: 25px;
    list-style: none;
}

.container-search .fa-magnifying-glass{
    margin-top: 5px;
    display: none;
}
.container-search{
    display: flex;
    column-gap: 15px;
}

.show-search .list-icon li:not(:last-child){
    display: none;
}
.show-search .list-icon .input-search{
    display: block;
}
.show-search .list-icon .fa-magnifying-glass{
    display: block;
}

.header-logo
{
    width: 200px;
    height: 50px;
    top: 23px;
}
#icon{
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
} 
.text-banner {
    width: 540px;
    color: #ffffff;
    position: relative;
    top: 220px;
}

.textbanner-title h1{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: -3px;
}
.textbanner-header h3{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: -7px;
    margin-left: -3px;
}
.textbanner-body{
    margin-top: 21px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 23px;
}
.textbanner-footer{
    margin-top: 56px;
    
}
.textbanner-footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
#button{
    width: 170px;
    height: 50px;
    color: #ffffff;
    background-color: #ffffff00;
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
#button:hover{
    background-color: #77777793;
}
.main{
    background-color: #ffffff;
    height: auto;
}
.intro-all {
    margin-top: 30px;
}

.main-list ul {
    padding: 0;
	margin:  0;
	list-style: none;
	max-width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: auto;
}

.introduce{
    max-width: 100%;
    position: relative;
    top: -77px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.intro-item-header{
    
    display: flex;
    width: 100%;
}
.intro-item-footer{
    display: flex;
}
.list-intro{
    background-color: #ffffff;
    /* max-height: 500px; */
}
.intro-item{
    width: 33.33%;
}

.menu-product {
    margin-top: 11px;
}
.main-list {
    position: relative;
}
.intro-item img{
    height: 100%; 
}
.intro-item a{
    text-decoration: none;
    color: black;
}
.intro-item-content a{
    color: rgb(119, 119, 119);
}
.intro-item-icon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;

}
.intro-item-icon-footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    margin-top: 42px;
}
.intro-item-icon-footer2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    margin-top: -5px;
}
.intro-item-title h5{
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
}
.intro-item-content {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #898989;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-menu{
    overflow: hidden;
    border: none;
}
.list-menu button{

    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    padding: 0px 12px 12px 18px;
    margin-top: -2px;
}
.list-menu button::after{
    content: "";
    position: absolute;
    background-color: #dd2f31;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 18px;
    
}
.list-menu button:hover{
    color: rgb(221, 47, 49); 
    
}
.list-menu button.active{
    color: rgb(221, 47, 49);
    border-bottom: 2.5px solid rgb(221, 47, 49); 

}
.tabcontent{
    display: flex;
    border-top: 1px solid #dddddd;
    padding-top: 40px;
    margin-top: -2px;
}
.name span{    
    font-size: 14px;
    font-family: 'Poppins';
}

.product-item{
    padding-bottom: 29px;
    position: relative;
}
.product-item:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2)
}
.product-item:hover .product-icon ul{
    opacity: 1;
    visibility: visible;
}
.product-item-img{
    position: relative;
   
}
.product-list{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 47px;

}
.price {
    padding-top: 3px;
    font-weight: bold;
    
}
.price span{
    margin-top: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.product-item-name{
    margin-left: 30px;
    margin-top: 22px;
}
.product-item-name a{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.price a{
    font-weight: bold;
}
.product-icon ul{
	list-style: none;
	max-width: 100%;
    text-decoration: none;
    height: auto;
    position: absolute;
    right: 13px;
    top: 13px;
    opacity: 0;
    visibility: hidden;
}

.product-icon ul li{
    font-size: 14px;
    text-decoration: none;
    padding: 6px;
}
.product-icon ul li a i{
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(119, 119, 119);
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(255, 255, 255);
}
.product-icon ul li a i:hover{
    background-color: #dd2f31;
    border: 1px solid #dd2f31;
    /* border: 1px solid #dd2f31; */
    color: #ffffff;
}
button.btn.btn-primary.add-cart {
    color: rgb(119, 119, 119);
    background: rgb(255, 255, 255);
    border: none;
    font-size: 14px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#shop {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(119, 119, 119);
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
#shop:hover{
    background-color: #dd2f31;
    border: 1px solid #dd2f31;
    /* border: 1px solid #dd2f31; */
    color: #ffffff;
}

/* aside  */
.aside-header{
    position: relative;
    padding-top: 87px;
    padding-bottom: 92px;
}
.aside-header-title h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
.aside-header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    margin-top: 45px;   
}
.aside-header-content p{
    text-decoration: none;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.aside-header-user{
    margin-top: -3px;
    margin-bottom: 8px;
}
.aside-header-user h4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding-top: 29px;
}
.aside-header-message p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
.brand-list{
    margin-top: 40px;
}
.brand-list ul{
    margin-left: 20px;
    column-gap: 74px;
    list-style: none;
    display: flex;
}

.brand-list img:hover {
    opacity: 0.5;
}
.aside-footer {
    padding-bottom: 36px;
    margin-top: 87px;
    border-top: 1px solid #cccccc;
}

.active, .dot:hover{
    background-color: rgb(221, 47, 49);
}
.aside-header-content {
    width: 760px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* footer  */
.footer-top {
    padding-bottom: 29px;
}
.footer{
    max-width: 100%;
    background-color: rgb(34, 34, 34);
}
.top-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.top-content {
    width: 715px;
    padding-top: 33px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.top-icon i:hover{
    color: white;
}
#hi:hover{
    color: #ffffff;
}
.top-content p{
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
}
.footer-top-list {
    padding-bottom: 56px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.top-icon{
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    column-gap: 42px;
    justify-content: center;
    margin-top: 42px;
}
.top-icon i{
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: rgb(119, 119, 119);
}


.footer-contacts {
    margin-top: 72px;
}
.contacts-list {
    display: flex;
    column-gap: 32px;
}
.contact-title{
    padding-bottom: 27px;
}
.contact-title h4 {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    
}
.info{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 1px;
}


.info-account a:hover{
    color: #ffffff;
}
p#info-tt{
    margin-left: 31px;
    margin-top: -21px;
    padding-bottom: 19px;
}
.info a{
    text-decoration: none;
    color: rgb(119, 119, 119);;
}
.info a:hover{
    color: #ffffff;
}
.info-account {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contacts {
    width: 25%;
    height: auto;
}

.info-account a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-family: 'Poppins', sans-serif;
}
.info-account a p{
    padding-bottom: 19px;
}
.info-account a :hover{
    color: white;
}
.footer-footer{
    
    background-color: rgb(17, 17, 17);
    height: 50px;

}
.footer-footer p{
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(119, 119, 119);
    position: relative;
    top: 15px;
    
}
.footer-footer a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(119, 119, 119);
}





li#content {
    margin-left: -7px;
}

 .slick-dot li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 1px;
    padding: 0;
    cursor: pointer;
} 
.slick-dot li button {
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    color: rgb(204, 204, 204);
    border: 0;
    outline: none;
    background: transparent;
} 
 
.slick-dot{
    text-align: center;
    margin-top: 32px;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.aside {
    margin-top: 89px;
}
.swiper{
    height: 405px;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
.swiper-pagination .swiper-pagination-bullet-active{
    background: #dd2f31;
}

/* shopping-cart */
.shopping-cart {
    background-color: #f5f5f5;
    width: 600px;
    margin-top: -310px;
    margin-left: 550px;
    border: 1px solid white;
    border-radius: 16px;
    padding: 8px;
    display: none;
    z-index: 10;
}
.shopping-cart a {
    text-decoration: none;
    color: black;
}
.cart-items{
    border-bottom: 1px solid #00000036;
}
.header-cart {
    padding-bottom: 20px;
    text-align: center;
}

button.btn.btn-danger{
    color: rgb(7, 7, 7);
}
button.btn.btn-danger:hover{
    color: #dd2f31;
}

.cart-row {
    display: flex;
    column-gap: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    padding-bottom: 12px;
    padding-top: 12px;
}
.cart-item-image {
    width: 85px;
    border-radius: 15px;
    height: 85px;
}
.cart-item-title {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Poppins';
    margin-top: 5px;
    width: 130px;
}
.cart-item.cart-column {
    display: flex;
    column-gap: 10px;
    width: 310px;
}
input.cart-quantity-input {
    width: 30px;
}
span.cart-item-title {
    font-size: 16px;
    width: 250px;
    margin-top: 20px;
}
span.cart-price.cart-column {
    margin-top: 25px;
    width: 130px;
}
.cart-quantity.cart-column {
    margin-top: 25px;
}
.cart-item-price{
    font-family: 'Poppins';
    font-size: 16px;
}
button.btn.btn-danger {
    margin-left: 60px;
    border: none;
}
.cart-total {
    margin-right: 50px;
    text-align: right;
    font-size: 16px;
}
strong.cart-total-title {
    font-size: 16px;
    font-family: 'Poppins';
}
span.cart-total-price {
    font-size: 16px;
    font-family: 'Poppins';
}
button.btn.btn-primary.btn-purchase {
    display: block;
    margin-top: 40px;
    width: 100px;
    height: 35px;
    font-size: 16px;
    margin-left: auto;
    font-weight: bold;
    font-family: 'Poppins';
    color: rgba(0, 0, 0, 0.836);
    margin-right: auto;
}

/* cart */
#cart{
    font-size: 16px;
    text-align: center;
}
.item-numb {
    color: white;
    position: absolute;
    right: 0;
    font-weight: bolder;
    font-family: 'Poppins';
    font-size: 10px;
    right: 85px;
    bottom: 22px;
}

