/* màn hình 1024 */
@media screen and (max-width: 1024px) {
    .all{
        max-width: 100%;
    }
    .header{
        width: 100%;
    }
    .container{
        width: 90%;
        
    }
    .img{
        max-width: 100%;
    }
    .header-main{
        width: 100%;
        column-gap: 72px;
    }
    .text-banner{
        width: 100%;
    }
    .header-icon{
        padding-left: 0%;
    }
    .main-list{
        width: 100%;
        height: 100%;
    }

    .brand-list{
        column-gap: 30px;
        margin-left: -20px;
    } 

    .header-menu ul{
        column-gap: 22px;
    }
    .header-icon ul{
        column-gap: 20px;
    }
    .intro-all {
        margin-top: 24px;
    }
    .list-intro{
        height: 394px;
    }
    .intro-item-header {
        margin-bottom: -4px;
    }
    .intro-item-icon img{
        margin-bottom: 16px;
        width: 43px
    }
    .intro-item-title {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .intro-item-content {
        font-size: 12px;
        margin-top: -4px;
        line-height: 18px;
    }
    .intro-item-icon-footer img {
        margin-bottom: 16px;
        margin-top: 24px;
        width: 60px;
    }
    .intro-item-icon-footer2 img {
        margin-bottom: 16px;
        margin-top: 24px;
        width: 43px;
    }
    .shopping-cart{
      
        transform: translate(-40%, -1%) scale(1.0);
    }
    .item-numb{
        right: 70px;
    }
    .product-item{
        width: 220px;
    }
    .product-list{
        column-gap: 13.5px;
    }

}


/* màn hình 768px */
@media screen and (max-width: 769px) {
    .all{
        max-width: 100%;
    }
    .header{
        width: 100%;
    }
    .container{
        width: 90%;
        
    }
    .header-banner{
        background-size: 200% 100%;
        background-position: top center
    }
    .header-banner {
        height: 850px;
    }
    .header-main{
        width: 100%;
        column-gap: 52px;
        position: relative;
    }
    .text-banner{
        width: 100%;
        margin-top:-45px;
    }
    .header-icon{
        left: 68%;
    }
    .main-list{
        width: 100%;
        height: 100%;
    }
    .header-menu{
        position: relative;
        margin-top: -4px;
    }
    .header-menu #toggle-header-menu {
        padding-top: 0px;
        display: block;
        cursor: pointer;
        color: white;
        font-size: 30px;
    }
    .header-menu ul {
        flex-direction: column;
        display: none;
        width: 150px;
        text-align: center;
        background-color: #f5f5f5;
        position: absolute;
        border-radius: 14px;
        left: 30px;
        z-index: 3;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header-menu ul li a {
        font-weight: bold;
        display: inline-flex;
        margin-bottom: 5px;
        color: rgb(64 58 58);
    }
    .intro-all {
        margin-top: 5px;
    }
    .intro-all {
        transform: translate(0%, 0%) scale(0.9);
    }
    .list-intro {
        height: 295px;
    }
    .intro-item-header {
        margin-bottom: -4px;
    }
    .intro-item-icon img{
        margin-bottom: 10px;
    }
    .intro-item-content {
        font-size: 10px;
        margin-top: -12px
    }
    .intro-item-icon-footer img {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .intro-item-icon-footer2 img {
        margin-top: -2px;
        margin-bottom: 12px;
    }
    .brand-list{
        column-gap: 130px;
        row-gap: 40px;
        margin-left: 6px;
    }
    .aside-header-content a{
        font-size: 14px;
    }
    .aside-header-title h2{
        font-size: 32px;
    }
    .textbanner-header h3 {
        font-size: 32px;
    }
    .textbanner-title h1 {
        font-size: 50px;
    }
    .textbanner-body {
        margin-top: 20px;
        font-size: 12px;
    }

    .product-item {
        width: 220px;
    }
    .top-content p {
        font-size: 13px;

    }
    .product-icon ul {
        transform: translate(20%, -10%) scale(0.85);
        opacity: 1;
        visibility: visible;
    }
    .aside-header-content p {
        font-size: 16px;
    }
    .aside-footer {
        margin-top: 65px;
    }
    .aside {
        margin-top: 50px;
    }
    .shopping-cart {
        border: 3px solid white;
        margin-left: 524px;
        margin-top: -240px;
        background-color: #f5f5f5;
        width: 306px
    }
    .cart-row {
        position: relative;
        display: block;
    }
    span.cart-item-title {
        width: 250px;
        margin-top: 0px;
    }
    span.cart-price.cart-column {
        position: absolute;
        left: 96px;
        top: 20px;
        width: 130px;
    }
    input.cart-quantity-input {
        position: absolute;
        width: 30px;
        left: 96px;
        top: 75px;
    }
    button.btn.btn-danger {
        font-size: 20px;
        position: absolute;
        right: 5px;
        bottom: 60px;
        border: none;
    }
    .cart-total {
        margin-right: 5px;

    }
    button.btn.btn-primary.btn-purchase {
        margin-left: 36%;
    }
    .item-numb{
        right: 70px;
        top:10px;
    }
    .header-logo {
        position: absolute;
        left: 180px;
    }
    ion-icon.md.hydrated {
        font-size: 30px;
    }
    input.input-search {
        margin-left: -60px;
    }
}

/* màn hình 425px */
@media screen and (max-width: 426px){
    input.cart-quantity-input {
        height: 10px;
        position: absolute;
        width: 30px;
        left: 71px;
        top: 55px;
    }
    button.btn.btn-danger {
        font-size: 14px; 
        position: absolute;
        right: 0px;
        bottom: 50px;
        border: none;
    }
    strong.cart-total-title {
        font-size: 12px;
        
    }
    span.cart-total-price {
        font-size: 12px;
        
    }

    button.btn.btn-primary.btn-purchase {
        margin-top: 20px;
        margin-left: 34%;
        width: 65px;
        height: 24px;
        font-size: 12px;
    }
    input.input-search {
        margin-left: -45px;
        width: 100px;
    }

    .list-intro {
        height: auto;
    }
    .intro-item-header {
        display: block;
    }
    .intro-item-footer {
        display: block;
    }
    .intro-item {
        width: 100%;
    }
    .intro-all{
        margin-top: 30px;
        padding-bottom: 40px;
    }
    .intro-all {
        transform: translate(0%, 0%) scale(1.0);
    }
    .intro-item-content {
        font-size: 14px;
    }
    .intro-item-icon img {
        margin-bottom: 20px;
    }
    .intro-item-title {
        margin-bottom: 26px;
    }
    .intro-item-icon-footer img {
        
        margin-bottom: 22px;
    }
    .intro-item-icon-footer2 img {
        
        margin-bottom: 22px;
    }
    .footer-footer p {
        width: 416px;
        top: 5px;
    } 
    .all{
        max-width: 100%;
    }
    header {
        height: 640px;
    }
    .header-banner {
        background-size: 220% 62%;
        
    }
    .text-banner {
        top: 185px;
    }
    .textbanner-footer {
        margin-top: 40px;
    }
    .container{
        max-width: 90%;
    }
    .header-main {
        width: 100%;
        column-gap: 40px;
    }
    .main-list{
        height: 1300px;
    }

    .header-logo {
        width: 120px;
        margin-top: 10px;
        left: 100px;
    }
    .introduce {
        transform: translate(0%, -6%) scale(1.0);
    }
    #icon {
        font-size: 14px;
    }
    .header-icon ul {
        column-gap: 12px;
    }
    .header-icon{
        margin-left: -12%;
    }
    .header-menu #toggle-header-menu {
        padding-top: 0px;
        display: block;
        cursor: pointer;
        color: white;
        font-size: 26px;
    }
    .header-menu ul {
        border: 3px solid white;
        background-color: #f5f5f5;
        left: 0px;
    }
    .header-menu ul li a {
        color: #343434d1;
    }
    .textbanner-title h1 {
        font-size: 36px;
    }
    .textbanner-header h3 {
        font-size: 24px;
    }
    .textbanner-body {
        margin-top: 20px;
        font-size: 10px;
        line-height: 14px;
    }

    .product-item-name a {
        font-size: 14px;
    }
    #button {
        width: 90px;
        height: 32px;
        font-size: 8px;
    }
    .textbanner-footer a{
        font-size: 8px;
    }


    .menu-product {
        margin-top: 12px;
    }
    .list-menu button{
        font-size: 14px;
    }
    .product-item {
        width: 175px;
    }
    .aside {
        margin-top: 40px;
    }
    .aside-header {
        padding-top: 35px;
        padding-bottom: 35px
    }
    .aside-header-title h2 {
        font-size: 20px;
    }
    .aside-header img {
        margin-bottom: 15px;
        margin-top: 25px;
        width: 65px;
    }
    .aside-header-content p{
        font-size: 12px;
        line-height: 18px;
    }
    .aside-header-user {
        margin-top: -12px;
        margin-bottom: 6px;
    }
    .aside-header-user h4 {
        font-size: 14px;
    }
    .aside-header-message p{
        font-size: 12px;
    }
    .swiper {
        margin-top: 60px;
        height: 300px;
    }
    .swiper-pagination .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
        
    }
    .dot-dot-dot {
        margin-top: 10px;
    }
    .dot {
        height: 4px;
        width: 4px;
    }
    .item-numb {
        font-size: 10px;
        right: 45px;
        bottom: 32px;
    }

    .aside-footer {
        margin-top: 45px;
        padding-bottom: 20px;
    }
    .brand-list {
        column-gap: 80px;
    }
    .top-logo a img {
        padding-top: 50px;

    }
    .top-content p{
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 20px;
    }
    .top-icon {
        margin-top: 5px;
        column-gap: 25px;
    }
    .top-icon i{
        font-size: 16px;
    }

    .footer-top-list {
        padding-bottom: 30px;
    }
    .footer-contacts {
        margin-top: 36px;
    }
    .contacts-list{
        display: inline-block;

    }
    .contact-title a {
        font-size: 16px;
    }
    .contact-title {
        padding-bottom: 12px;
    }
    .account {
        padding-bottom: 20px;
    }
    .information{
        padding-bottom: 20px;
    }
    .info{
        margin-top: -5px;
    }
    .info a{
        font-size: 8px;
    }
    .info-account a {
        font-size: 8px;
    }
    li#content {
        margin-left: -3px;
        margin-top: 6px;
    }
    .info ul li a {
        font-size: 8px;
    }
    .info-account a p {
        padding-bottom: 6px;
    }

    .tabcontent {
        padding-top: 0px;
    }
    .product-list {
        column-gap: 10.5px;
        row-gap: 10px;
    }
    .product-item {
        width: 186px;
        padding-bottom: 0px;
    }
    .price span {
        font-size: 14px;
    }
    .shopping-cart {
        width: 240px;
        position: relative;
        right: 290px;
        top: 90px;
    }
    .cart-item-image {
        width: 60px;
        height: 60px;
    }
    span.cart-price.cart-column {
        left: 71px;
        font-size: 12px;
        top: 12px;
        /* font-weight: bold; */
    }
    span.cart-item-title {
        font-size: 12px;
        margin-top: 5px;
    }
}
 


/* màn hình 375px */
@media screen and (max-width: 376px){
    .header-main {
        width: 100%;
        column-gap: 7px;
    }
    .header {
        height: 80px;
    }
    .header-logo img {
        width: 110px;
        margin-left: -40px;
    }
    .header-menu {
        margin-left: -128px;
        margin-top: -15px;
    }
    .header-logo {
        margin-top: 0px;
    }
    .header-icon {
        margin-left: -23px;
        margin-top: -12px;
    }
    .header-menu ul {
        left: 130px;
        font-size: 14px;
    }
    .shopping-cart {
        margin-top: -270px;
        left: -340px;
    }
    .header-menu #toggle-header-menu {
        margin-left: 125px;
    }
    .main-list {
        height: 1200px;
    }
    .product-item {
        padding-bottom: 0px;
        width: 160px;
    }
    .product-list {
        column-gap: 17.5px;
        row-gap: 15px;
    }
    .product-item-name a {
        font-size: 11px;
    }
    .product-item-name {
        margin-top: 10px;
    }
    .tabcontent {
        padding-top: 0px;
    }
    .brand-list {
        column-gap: 40px;
    }
    .aside-header {
        padding-top: 38px;
        padding-bottom: 30px;
    }

    .footer-footer p {
        width: 370px;
        margin-top: -3px;
    }
    .top-content p {
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 20px;
    }
    .list-menu button {
        font-size: 12px;
    }
    .product-icon ul {
        transform: translate(30%, -20%) scale(0.68);
    }
    .intro-item-title h5 {
        margin-bottom: -7px;
    }
    .price span {
        font-size: 11px;
    }
    .footer-footer a {
        font-size: 13px;
        
    }
    .footer-footer p {
        font-size: 13px;
        top: 5px;
    }
}



/* màn hình 320px */
@media screen and (max-width: 320px){

    .header-main {
        column-gap: 0px;
    }
    .header-logo img {
        
        margin-left: -55px;
    }
    .container-search {
        column-gap: 6px;
        margin-left: 10px
    }
    .header-banner {
        background-size: 210% 52%;
    }
    .header-icon ul {
        column-gap: 8px;
    }
    .item-numb {
        right: 42px;
    }
    #icon {
        font-size: 13px;
    }

    .list-intro {
        height: 0px;
    }
    .list-menu button {
        font-size: 11.5px;
    }
    .list-menu button {
        padding: 0px 10px 5px 10px;
    }
    .list-menu button.active {
        border-bottom: 2px solid rgb(221, 47, 49);
    }
    .product-list {
        column-gap: 20px;
    }
    .product-item {
        padding-bottom: 15px;
        width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05)
    }
    .product-item-name {
        text-align: center;
        margin-top: 10px;
    }
    .product-item-name a{
        font-size: 14px;
    }
    .price span {
        font-size: 14px;
    }
    .aside-header-content a {
        font-size: 6px;
        line-height: 10px;
    }
    .brand-list ul {
        column-gap: 15px;
    }
    .top-logo a img {
        padding-top: 30px;
    }
    .top-content a {
        font-size: 5px;
        line-height: 10px;
    }
    .footer-contacts {
        margin-top: 30px;
    }
    .contacts-list {
        column-gap: 10px;
    }

    .footer-footer p {
        width: 320px;
        margin-top: -3px;
    }
    .top-content p {
        font-size: 10px;
    }
    .brand-list img{
        width: 95px;
    }
    .brand-list {
        column-gap: 40px;
        margin-top: 25px;
    }
    .aside-header-message p {
        margin-top: -5px;
    }
    input.input-search {
        width: 75px;
        height: 5px;
        margin-top: -1px
    }
    .text-banner {
        top: 150px;
    }
    .textbanner-title h1 {
        font-size: 32px;
    }
    .textbanner-body {
        font-size: 7.5px;
    }
    .introduce {
        top: -215px;
    }
    .main-list {
        height: 1020px;
    }
    .product-icon ul {
        transform: translate(12%, -2%) scale(1.0);
    }
    .header-icon {
        margin-left: -12px;
        margin-top: -12px;
    }
    .item-cart {
        column-gap: 1px;
    }
    .aside-header-title h2 {
        font-size: 19px;
    }
    .tabcontent {
        margin-top: 15px;
        margin-left: 0px;
    }
    .shopping-cart {
        margin-top: -240px;
        left: -380px;
    }

} 
