.all{
    max-width: 100%;
}
.header{
    width: 100%;
}
image{
    max-width: 100%;
    height: 100%;
}
@media screen and (max-width: 1210px){

    .container{
        width: 90%;
    }
    .product-list {
        column-gap: 10px;
    }
    .header-main{
        column-gap: 50px;
    }
    .product-item {
        width: calc(25% - 8px);
    }
    .intro-item-title h5 {
        margin-bottom: 8px;
    }
    .intro-item-icon img {
        margin-bottom: 16px;
    }
    .brand-list ul {
        column-gap: 60px;
    }
    .contacts{
        width: auto;
    }
    .contacts-list {
        column-gap: 120px;
    }

}
@media screen and (max-width: 1170px){
    .header-menu ul {
        column-gap: 45px;
    }
}
@media screen and (max-width: 1120px){
    .header-menu ul {
        column-gap: 38px;
    }
    .intro-all {
        margin-top: 22px;
    }
    .intro-item-icon-footer img {
        margin-top: 35px;
    }
    .intro-item-icon-footer2 img {
        margin-top: 20px;
    }
    .brand-list ul {
        column-gap: 45px;
    }
    .contacts-list {
        column-gap: 100px;
    }
}
@media screen and (max-width: 1080px){
    .header-menu ul {
        column-gap: 28px;
    }
}


/* màn hình 1024 */

@media screen and (max-width: 1024px) {

    .container{
        width: 90%;
        
    }
    .header-logo {
        margin-top: 2px;
    }
    .header-main{
        column-gap: 50px;
    }
    .text-banner{
        width: 525px;
    }
    .intro-item-title h5 {
        margin-bottom: 15px;
    }


    .brand-list{
        column-gap: 30px;
    } 

    .header-menu ul{
        column-gap: 22px;
    }
    .header-icon ul{
        column-gap: 20px;
    }
    .intro-all {
        margin-top: 24px;
    }
    /* .list-intro{
        height: 394px;
    } */
    .intro-item-icon img{
        margin-bottom: 16px;
        width: 43px
    }
    .intro-item-title {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .intro-item-content {
        font-size: 14px;
        margin-top: -5px;
        line-height: 20px;
        width: auto;
    }
    .intro-item-icon-footer img {
        margin-bottom: 16px;
        margin-top: 20px;
        width: 60px;
    }
    .intro-item-icon-footer2 img {
        margin-bottom: 16px;
        width: 43px;
    }
    .shopping-cart{
      
        transform: translate(-40%, -1%) scale(1.0);
    }
    .item-numb{
        right: 74px;
        top: 8px;
    }
    .product-item{
        width: calc(25% - 12px);
    }
    .product-list{
        column-gap: 13.5px;
    }
    .product-icon ul {

        right: 0px;
        top: 10px;
    }
    .contacts {
        width: auto;
    }
    .intro-item-img {
        height: 197px;
    }
    .contacts-list {
        column-gap: 75px;
    }

}
/* man hinh 950 */
@media screen and (max-width: 950px){
    .header-main {
        column-gap: 40px;
    }
    .header-menu ul {
        column-gap: 20px;
    }
    .product-item {
        width: calc(33.33% - 10px);
    }
    .intro-all {
        margin-top: 15px;
    }
    .brand-list {
        column-count: 3;
    }
    .brand-list ul {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .brand-list ul li {
        padding: 20px 0px 60px 0px;
        height: 100px;
    }
    .brand-list ul li img {
        height: 100%;
        width: 90%;
    }
    .header-logo {
        margin-top: 5px;
        width: 160px;
    }
    .contacts-list {
        column-gap: 50px;
    }

}
@media screen and (max-width: 900px){
    .header-main {
        column-gap: 18px;
    }
    .intro-item-icon-footer2 img {
        margin-bottom: 6px;
    }
    .intro-item-icon img {
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 870px){
    .header-logo {
        margin-top: 10px;
        width: 120px;
    }
    .header-main {
        column-gap: 25px;
    }
    .intro-item-title h5 {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 855px){
    .contacts-list {
        column-gap: 35px;
    }
    .header-menu ul {
        column-gap: 15px;
    }

}
/* màn hình 768px */
@media screen and (max-width: 769px) {
    .all{
        max-width: 100%;
    }
    .header{
        width: 100%;
    }
    .container{
        width: 95%;
        
    }
    .header-icon{
        left: auto;
    }
    .top-content {
        width: auto;
    }
    .intro-item-img {
        height: 158px;
    }
    .header-banner{
        background-size: 200% 100%;
        background-position: top center
    }
    .header-banner {
        height: 850px;
    }
    .header-main{
        width: 100%;
        column-gap: 52px;
        position: relative;
    }
    .text-banner{
        width: 530px;
        margin-top:-45px;
    }
    .header-icon{
        left: 70%;
    }
    .header-menu{
        position: relative;
        margin-top: -4px;
    }
    .header-menu #toggle-header-menu {
        padding-top: 0px;
        display: block;
        cursor: pointer;
        color: white;
        font-size: 30px;
    }
    .header-menu ul {
        flex-direction: column;
        display: none;
        width: 150px;
        text-align: center;
        background-color: #f5f5f5;
        position: absolute;
        border-radius: 14px;
        left: 30px;
        z-index: 3;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-menu ul li a {
        font-weight: bold;
        display: inline-flex;
        margin-bottom: 5px;
        color: rgb(64 58 58);
    }
    .header-menu ul li a:hover{
        color: rgb(64 58 58);
        text-decoration: underline;
    }
    .intro-all {
        margin-top: 5px;
        transform: translate(0%, 0%) scale(0.97);
    }
    .intro-item-icon img{
        margin-bottom: 10px;
    }
    .intro-item-content {
        width: auto;
        font-size: 13px;
        margin-top: -12px
    }
    .intro-item-icon-footer img {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .intro-item-icon-footer2 img {
        margin-top: -2px;
        margin-bottom: 12px;
    }
    .brand-list {
        column-gap: 30px;
    }

    .top-logo img {
        padding-top: 80px;
    }

    .product-item {
        width: calc(50% - 10px);
        text-align: center;
        padding-bottom: 10px;
    }
    .top-content p {
        font-size: 14px;

    }
    .product-icon ul {
        transform: translate(-10%, -8%) scale(0.85);
        visibility: visible;
    }
    .aside-header-content p {
        font-size: 16px;
    }
    .aside-footer {
        margin-top: 45px;
    }
    .aside {
        margin-top: 75px;
    }
    .shopping-cart {
        border: 3px solid white;
        margin-left: 542px;
        margin-top: -265px;
        background-color: #f5f5f5;
        width: 306px
    }
    .cart-row {
        position: relative;
        display: block;
    }
    .brand-list ul {
        column-gap: 30px;
    }
    span.cart-item-title {
        width: 250px;
        margin-top: 0px;
    }
    span.cart-price.cart-column {
        position: absolute;
        left: 96px;
        top: 20px;
        width: 130px;
    }
    input.cart-quantity-input {
        position: absolute;
        width: 30px;
        left: 96px;
        top: 75px;
    }
    button.btn.btn-danger {
        font-size: 20px;
        position: absolute;
        right: 5px;
        bottom: 60px;
        border: none;
    }
    .cart-total {
        margin-right: 5px;

    }
    .item-numb{
        right: 70px;
        top:10px;
    }
    .header-logo {
        margin-top: 0px;
        position: absolute;
        left: 180px;
        width: 200px;
    }
    ion-icon.md.hydrated {
        font-size: 30px;
    }
    input.input-search {
        margin-left: -60px;
    }

    .aside-header-content {
        width: auto;
    }
    .footer-contacts {
        margin-top: 55px;
    }
    .intro-item-title h5 {
        margin-bottom: 18px;
    }
}

/* màn hình 425px */
@media screen and (max-width: 426px){
    .container{
        width: 94%;
    }
    .header {
        height: 80px;
        width: 100%;
    }
    .header-menu {
        position: relative;
        margin-top: -15px;
    }
    input.cart-quantity-input {
        height: 10px;
        position: absolute;
        width: 30px;
        left: 71px;
        top: 55px;
    }
    .top-logo img {
        padding-top: 60px;
    }
    .contacts {
        width: auto;
        padding-bottom: 25px;
        text-align: center;
    }
    .top-content {
        width: auto;
    }
    button.btn.btn-danger {
        font-size: 14px; 
        position: absolute;
        right: 0px;
        bottom: 50px;
        border: none;
    }
    strong.cart-total-title {
        font-size: 12px;
        
    }
    span.cart-total-price {
        font-size: 12px;
        
    }
    .intro-item-img {
        height: auto;
    }
    button.btn.btn-primary.btn-purchase {
        margin-top: 20px;
        width: 65px;
        height: 24px;
        font-size: 12px;
    }
    input.input-search {
        margin-left: -45px;
        width: 100px;
    }

    .list-intro {
        height: auto;
    }
    .intro-item-header {
        display: block;
    }
    .intro-item-footer {
        display: block;
    }
    .intro-item {
        margin-top: -10px;
        width: 100%;
    }
    .intro-item img {
        width: 100%;
        height: 100%;
    }
    .intro-all{
        margin-top: 30px;
        padding-bottom: 38px;
    }
    .intro-item-content {
        width: 95%;
        font-size: 16px;
        line-height: 24px;
    }
    .intro-item-title h5 {
        font-size: 22px;
        margin-bottom: -20px;
    }
    .intro-item-icon img {
        width: 14%;
        margin-bottom: -10px;
    }
    .intro-item-title {
        margin-bottom: 40px;
        margin-top: 24px;
    }
    .intro-item-icon-footer img {
        width: 20%;
        margin-bottom: 36px;
    }
    .intro-item-icon-footer2 img {
        width: 14%;
        margin-bottom: 22px;
    }
    .footer-footer p {
        top: 5px;
    } 
    .all{
        max-width: 100%;
    }
    header {
        height: 640px;
    }
    .header-banner {
        background-size: 220% 62%;
        
    }
    .text-banner {
        top: 115px;
        width: auto;
    }
    .textbanner-footer {
        margin-top: 40px;
    }
    .header-main {
        width: 100%;
        column-gap: 40px;
    }
    .main-list{
        margin-top: -70px;
    }

    .header-logo {
        width: 120px;
        margin-top: 0px;
        left: 100px;
    }
    #icon {
        font-size: 14px;
    }
    .header-icon ul {
        column-gap: 11px;
    }
    .header-icon{
        margin-top: -10px;
        margin-left: -3%;
    }
    .header-menu #toggle-header-menu {
        padding-top: 0px;
        display: block;
        cursor: pointer;
        color: white;
        font-size: 26px;
    }
    .header-menu ul {
        border: 3px solid white;
        background-color: #f5f5f5;
        left: 0px;
    }
    .header-menu ul li a {
        color: #343434d1;
    }
    .textbanner-title h1 {
        font-size: 38px;
    }
    .textbanner-header h3 {
        font-size: 26px;
    }
    .textbanner-body {
        margin-top: 20px;
        font-size: 13px;
        line-height: 20px;
    }

    .product-item-name a {
        font-size: 14px;
    }
    #button {
       transform: translate(-17px, 0px) scale(0.8);
    }
    .textbanner-footer a{
        font-size: 8px;
    }
    .product-item-name {
        margin-left: 10px;
        margin-top: 22px;
    }

    .menu-product {
        margin-top: -10px;
    }
    .list-menu button{
        font-size: 15px;
    }
    .aside {
        margin-top: -10px;
    }

    .aside-header-title h2 {
        font-size: 22px;
    }
    .aside-header img {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 65px;
    }
    .aside-header-content p{
        font-size: 14px;
        line-height: 22px;
    }
    .aside-header-user {
        margin-top: -22px;
        margin-bottom: 2px;
    }
    .aside-header-user h4 {
        font-size: 16px;
    }
    .aside-header-message p{
        font-size: 14px;
    }
    .swiper {
        margin-top: 60px;
        height: 300px;
    }
    .swiper-pagination .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
        
    }
    .dot-dot-dot {
        margin-top: 10px;
    }
    .dot {
        height: 4px;
        width: 4px;
    }
    .item-numb {
        font-size: 10px;
        right: 45px;
        bottom: 32px;
    }

    .aside-footer {
        margin-top: 30px;
        padding-bottom: 10px;
    }

    .account {
        width: 100%;
        padding-bottom: 36px;
        text-align: center;
    }

    .top-logo a img {
        margin-top: 20px;
        padding-top: 70px;
    }
    .top-content p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 20px;
    }
    .top-icon {
        margin-top: 10px;
        column-gap: 25px;
    }
    .top-icon i{
        font-size: 16px;
    }

    .footer-top-list {
        padding-bottom: 45px;
    }
    .footer-contacts {
        margin-top: 36px;
    }
    .contacts-list{
        display: block;

    }
    .contact-title a {
        font-size: 16px;
    }
    .contact-title {
        padding-bottom: 12px;
    }

    .information{
        width: 100%;
        padding-bottom: 36px;
        text-align: center;
    }
    .quicklink {
        width: 100%;
        text-align: center;
    }
    .info a{
        font-size: 14px;
    }
    .info-account a {
        font-size: 14px;
    }
    li#content {
        margin-left: -3px;
        margin-top: 6px;
    }
    .info ul li a {
        font-size: 8px;
    }
    .info-account a p {
        padding-bottom: 6px;
    }

    .tabcontent {
        padding-top: 20px;
    }
    .product-list {
        column-gap: 10.5px;
        row-gap: 20px;
    }
    .price span {
        font-size: 14px;
    }
    .shopping-cart {
        width: 240px;
        position: relative;
        right: 300px;
        top: 52px;
    }
    .cart-item-image {
        width: 60px;
        height: 60px;
    }
    span.cart-price.cart-column {
        left: 71px;
        font-size: 12px;
        top: 12px;
        /* font-weight: bold; */
    }
    span.cart-item-title {
        font-size: 12px;
        margin-top: 5px;
    }
    .intro-item-img img{
        width: 400px;
    }
    p#info-tt {
        margin-left: 0px;
        margin-top: 2px;
        padding-bottom: 8px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -2px;
    }
    .brand-list{
        column-count: 2;
    }
    .brand-list ul {
        
        flex-direction: column;
        flex-wrap: wrap;
    }
    .brand-list ul li img{
        height: 100%;
        width: 90%;
    }
    .brand-list ul li {
        padding: 0px 0px 40px 0px;
        height: 60px;
    }
    .footer-top {
        padding-bottom: 10px;
    }

}
 


/* màn hình 375px */
@media screen and (max-width: 376px){
    .header-main {
        width: 100%;
        column-gap: 7px;
    }

    .header {
        height: 80px;
    }
    .header-logo img {
        width: 110px;
        margin-left: -40px;
    }
    .header-menu {
        margin-left: -128px;
        margin-top: -15px;
    }
    .header-logo {
        margin-top: 0px;
    }
    .header-icon {
        margin-left: 6px;
        margin-top: -12px;
    }
    .header-menu ul {
        left: 130px;
        font-size: 14px;
    }
    .shopping-cart {
        width: 338px;
        margin-top: -275px;
        left: -398px;
    }
    .header-menu #toggle-header-menu {
        margin-left: 125px;
    }
    .product-item {
        padding-bottom: 15px;
        width: 359px;
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
    }
    .product-item-img {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .product-list {
        row-gap: 30px;
    }
    .product-item-name a {
        font-size: 11px;
    }
    .product-item-name {
        text-align: center;
        margin-top: 25px;
    }
    .price span {
        font-size: 18px;
    }
    .name span {
        font-size: 18px;
    }
    .tabcontent {
        padding-top: 20px;
    }
    .brand-list {
        column-gap: 30px;
    }
    .aside-header {
        padding-top: 38px;
        padding-bottom: 30px;
    }
    .top-content p {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .list-menu button {
        padding: 0px 6px 6px 10px;
        font-size: 14px;
    }
    .contacts{
        width: auto;
        padding-bottom: 20px;
    }
    .intro-item-title {
        margin-bottom: 31px;
  
    }
    .intro-item-content {
        font-size: 16px;
        
    }
    .product-icon ul {
        transform: translate(-25%, 15%) scale(1.2);
    }
    .intro-item-title h5 {
        margin-bottom: -7px;
    }

    .footer-footer a {
        font-size: 14px;
        
    }
    .footer-footer p {
        font-size: 14px;
        top: 5px;
    }
    .cart-item-image {
        width: 70px;
        height: 70px;
    }
    span.cart-item-title {
        font-size: 16px;
        margin-top: 0px;
    }
    span.cart-price.cart-column {
        left: 80px;
        font-size: 16px;
        top: 12px;
        /* font-weight: bold; */
    }
    input.cart-quantity-input {
        height: 12px;
        position: absolute;
        width: 40px;
        left: 80px;
        top: 62px;
    }
    button.btn.btn-danger {
        font-size: 16px;
        right: 0px;
        bottom: 60px;
    }
    strong.cart-total-title {
        font-size: 16px;
    }
    span.cart-total-price {
        font-size: 16px;
    }
    button.btn.btn-primary.btn-purchase {
        margin-top: 20px;
        /* margin-left: 34%; */
        width: 90px;
        height: 35px;
        font-size: 16px;
    }
    .introduce {
        height: auto;
    }
}



/* màn hình 320px */
@media screen and (max-width: 320px){


    .textbanner-title h1 {
        font-size: 36px;
    }
    .list-menu button {
        padding: 0px 5px 8px 3px;
        font-size: 13px;
    }
    .aside-header-title h2 {
        font-size: 18px;
    }
    .header-icon {
        margin-left: -14px;
        margin-top: -12px;
    }
    .intro-item-icon-footer img {
        width: 20%;
        margin-bottom: 26px;
    }
    .intro-all {
        padding-bottom: 28px;
    }
    .menu-product {
        margin-top: -20px;
    }
} 

@media screen and (max-width: 600px) {
    .container{
        width: 95%;
    }
    .contacts-list{
        width: auto;
    }
    .contacts{
        width: auto;
    }
    .quicklink {
        width: auto;
    }
    .information {
        width: auto;
    }
    .account{
        width: auto;
    }
    .header-icon {
        left: 62%;
    }
}
